<div class="banner">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
  </div>
</div>

<div class="container d-flex justify-content-between">
  <%= link_to 'Back to lists', lists_path, class: "btn btn-outline-dark"%>
  <div>
    <%= link_to "Delete list", list_path(@list), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list.id), class: "btn btn-outline-dark" %>
  </div>
</div>



<div class="container cards-bookmarks mt-4">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card">
      <div class="d-flex flex-row">
        <div>
          <%= image_tag bookmark.movie.poster_url, alt: "movie poster", width: 150 %>
        </div>
        <div class="card-body">
          <h3 class="card-title"><%= bookmark.movie.title %></h3>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <%= link_to "Delete", bookmark_path(bookmark.id), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
