<h1><%= @list.name %></h1>
<%# <%= @bookmark.comment %>
<%= link_to 'Back to lists', lists_path %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list.id) %>
<%= link_to 'Delete List', lists_path(@list.id) %>
